outputs/output_es_flan_base/checkpoints/*
outputs/output_es_flan_base/final_model/*
outputs/output_es_flan_base/training_history.json


outputs/output_full_finetuning_base/checkpoints/*
outputs/output_full_finetuning_base/final_model/*
outputs/output_full_finetuning_base/training_history.json

outputs/output_lora_base/checkpoints/*
outputs/output_lora_base/final_model/*
outputs/output_lora_base/training_history.json


outputs/small_model_fft/final_model/*
outputs/small_model_fft/training_history.json

outputs/small_model_lora/final_model/*
outputs/small_model_lora/training_history.json